<h1>Editing Third Party Platform</h1>

<%= render 'form', third_party_platform: @third_party_platform %>

<%= link_to 'Show', @third_party_platform %> |
<%= link_to 'Back', third_party_platforms_path %>
