<h1>New Official Accounts Authorization Event</h1>

<%= render 'form', official_accounts_authorization_event: @official_accounts_authorization_event %>

<%= link_to 'Back', official_accounts_authorization_events_path %>
