<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_official_accounts_authorization_event_path(@official_accounts_authorization_event) %> |
<%= link_to 'Back', official_accounts_authorization_events_path %>
