<h1>Editing Official Accounts Message</h1>

<%= render 'form', official_accounts_message: @official_accounts_message %>

<%= link_to 'Show', @official_accounts_message %> |
<%= link_to 'Back', official_accounts_messages_path %>
