<!DOCTYPE html>
<html>
  <head>
    <title>微信网页快照页模式</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
  </head>
  <body>
    <div style="height: 100vh; display: flex; align-items: center; justify-content: center; flex-direction: column;">
      <h3>点击右下角 "使用完整服务"</h3>
      <p>登录后继续参与</p>
    </div>
  </body>
</html>
