<h1>Editing Wechat User Authorization</h1>

<%= render 'form', wechat_user_authorization: @wechat_user_authorization %>

<%= link_to 'Show', @wechat_user_authorization %> |
<%= link_to 'Back', wechat_user_authorizations_path %>
